h1 {
  color: blueviolet;
}
h2 {
  color: crimson;
}
h3 {
  color: rgb(231, 131, 231);
}
h4 {
  color: rgb(16, 54, 54);
}
h5 {
  color: lightcoral;
}
h6 {
  color: rgb(217, 10, 10);
}

table, tr, th, td {
  border: 1px solid rgb(40, 10, 235);
}

div {
  background-color: rgb(41, 143, 216);
}

#high-tech {
  color: rgb(38, 12, 62);
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #394de3;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #000000;
}





